@font-face
{
	font-family: 'Darius';
	src: url('design/fonts/Darius.ttf');
}
@font-face
{
	font-family: 'Bera';
	font-weight: normal;
	font-style: normal;
	src: url('design/fonts/Vera.ttf');
}
@font-face
{
	font-family: 'Bera';
	font-weight: bold;
	font-style: normal;
	src: url('design/fonts/VeraBd.ttf');
}
@font-face
{
	font-family: 'Bera';
	font-weight: normal;
	font-style: italic;
	src: url('design/fonts/VeraIt.ttf');
}
@font-face
{
	font-family: 'Bera';
	font-weight: bold;
	font-style: italic;
	src: url('design/fonts/VeraBI.ttf');
}
@font-face
{
	font-family: 'Bera';
	font-weight: normal;
	font-style: oblique;
	src: url('design/fonts/VeraIt.ttf');
}
@font-face
{
	font-family: 'Bera';
	font-weight: bold;
	font-style: oblique;
	src: url('design/fonts/VeraBI.ttf');
}


img
{ max-width: 100%; }

div, a, p
{ z-index: 10; }

a
{ text-decoration: none; }
a:link
{
	color: #fff;
	font-weight: bold;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
a:visited
{ color: inherit; }
a:hover
{
	color: #2676D5;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}

span.noHoverText, a:hover span.hoverText, h5:hover span.hoverText
{ display: inline-block; }
a:hover span.noHoverText, span.hoverText, h5:hover span.noHoverText
{ display: none; }

body, html
{
	position: relative;
	z-index: -5;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: Bera, Arial, Helvetica, sans-serif;
}
body
{ background-color: #151416; }
html
{ background-color: #060606; }

::-webkit-scrollbar
{ width: 6px; }
::-webkit-scrollbar-track
{ background-color: #151416; }
::-webkit-scrollbar-thumb
{
	background: #2D333A;
	border-radius: 2px;
}
/*::-webkit-scrollbar-thumb:hover
{ background: #2D333A; }/**/

.centerlogo
{
	position: absolute;
	z-index: 10;
	text-align: center;
	text-shadow: 0 0 5px black;
}
.centerlogo .logo, .centerlogo img 
{
	min-height: 10vh;
	width: 100vw;
	max-width: 20vw;
	max-width: 20vmax;
}
.centerlogo .logo, .logo
{
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url(images/Irbis.svg);
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.centerlogo .donatebutton
{ opacity: 0.3; }
.centerlogo .donatebutton:hover
{ opacity: 1; }

.cf
{
	margin: 0;
	z-index: 1;
	width: 100vw;
	height: 200vh;
	position: fixed;
	overflow: visible;
	background-repeat: repeat;
	background-position: center;
	/*background-attachment: fixed;*/
	background-image: url(images/cf.png);
}

.background
{
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url(images/bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.backgroundscroll
{
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backgroundblur
{
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url(images/bgblur.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.headerimage
{
	top: 0;
	height:50vh;
	width: 100%;
	position: absolute;
	background-size: 100%;
	background-position: top;
	overflow: hidden;
	z-index: 0;
}
.headerimage video
{
	min-width: 100vw;
	min-height: 50vh;
	bottom: 0;
	position: absolute;
}

.refart .item
{
	width: 49%;
	width: calc(50% - 12.5px);
	margin: 0;
	padding: 0;
	color: #060606;
	border-radius: 2px;
	display: inline-block;
	height: 40vh;
}

.chart
{ text-align: center; }
.chart iframe
{
	border: 1px solid #2D333A;
	border-radius: 2px;
}
.chart a
{
	position: absolute;
	bottom: 0;
	left: 40%;
	left: calc(50% - 290px);
	z-index: 10;
	background-color: #151416BB;
	border-radius: 2px;
	padding: 5px;
	border: 1px solid #2D333A;
	margin: 0 0 35px;
}
.chart a:hover
{
	border-color: #2676d5;
	background-color: #151416;
}
a.donatebutton, .patrons a
{
	position: relative;
	margin: 1.5rem 0;
	background-color: #151416;
	border-radius: 2px;
	padding: 0.5em 1em;
	border: 1px solid #2D333A;
	display: inline-block;
	font-weight: normal;
}
.patrons
{ margin-top: 1em; }
.patrons a
{ margin: 0.8em 0.2em 0; }
.donatebutton:hover, .patrons a:hover
{ border-color: #2676d5; }
.donatebutton img, .patrons a img
{
	margin-bottom: -0.125em;
	height: 1em;
}

.spacer
{
	margin:0;
	height:20vh;
	width: 100%;
	background: #151416;
	position: relative;
	text-align: center;
}
.comment
{ position: relative; }
.comment p
{
	position: relative;
	margin: 0 150px;
	font-size: 2rem;
	font-weight: bold;
}
.comment a
{
	position: absolute;
	right: 25px;
	font-size: 1.5rem;
	font-weight: normal;
	text-align: right;
}
.spacer #leftquote
{
	height: 100px;
	width: 125px;
	left: 25px;
	top: calc(10vh - 50px);
	position: absolute;
	z-index: 5;
	opacity: 1;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	background-position: top;
	background-repeat: no-repeat;
	background-image: url(images/leftquote.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.spacer #rightquote
{
	height: 100px;
	width: 125px;
	right: 25px;
	top: calc(10vh - 50px);
	position: absolute;
	z-index: 5;
	opacity: 1;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	background-position: top;
	background-repeat: no-repeat;
	background-image: url(images/rightquote.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fullscreen
{
	margin: 0;
	min-height:90vh;
	width: 100%;
}
.fullscreenheader
{
	margin: 0;
	padding: 0;
	position: absolute;
	background-attachment: fixed;
	height:100vh;
	width: 100%;
	overflow: hidden;
	z-index: -2;
}
.fullscreenheader video, .fullscreenheader img
{
	position: fixed;
	z-index: -2;
	margin: 0;
	padding: 0;
	min-height:100vh;
	min-width: 100vw;
	background-attachment: fixed;
	top: 50vh;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.centertext
{ font-size: 5rem; }

.maindiv
{
	width: 100%;
	position: absolute;
	text-align: center;
}
.maindiv span
{ width: 100%; }

.svg
{
	margin: 0;
	width: 20%;
	padding: 3vmin;
	display: block;
	min-width: 200px;
	position: absolute;
}

.cardX
{
	width: 99vw;
	height: 100vh;
	min-width: 500px;
	position: absolute;
	max-width: 152.8vh; /* 3.30/2.16 - the dimentions of a Moo card */
}
.cardY
{
	width: 100%;
	height: 99%;
	min-height: 327px;
	position: absolute;
	max-height: 65.4vw; /* 2.16/3.30 - the dimentions of a Moo card */
}
.cardborder
{
	border-radius: 6vmin;
	border: 2px solid black;
	background-attachment: initial;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.homebutton
{
	top: 0;
	left: 0;
	padding: 1vw;
	position: absolute;
}

.content
{ padding: 25vh 10vw 25px; }

.container
{
	width: 98%;
	width: calc(100% - 50px);
	padding: 25px;
	overflow: hidden;
	margin: 0 0 25px;
	position: relative;
	border-radius: 2px;
	background: #1E1F25;
	display: inline-block;
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
.container p
{ margin: 1em 0 0; }
.container.right
{
	width: 49%;
	width: calc(50% - 62.5px);
	float: right;
}
.container.left
{
	width: 49%;
	width: calc(50% - 62.5px);
	float: left;
}
.container .container
{ background: #2D333A; }
.container#hover p
{ color: #FFF; }
.container:hover#hover span
{ color: #2676D5; }
.container:hover#hover
{ box-shadow: 0 0 10px 3px rgba(0,0,0,0.7); }

a.container
{ font-weight: normal; }

.misctext
{
	margin: 0 0 25px;
	font-size: 2rem;
	text-align: center;
	font-family: Darius;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}
p.misctext
{ margin: 0 0 25px; }

.download
{
	margin: 0.2em 0 0;
	position: relative;
	font-family: Darius;
	letter-spacing: 10px;
	text-transform: uppercase;
}
p.download
{ margin: 0.2em 0 0; }

.shadow
{ box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5); }
.shadow:hover#hover
{ box-shadow: 0 0 10px 3px rgba(0,0,0,0.7); }
.shadowdiv div
{ box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5); }
.shadowdiv#hover div:hover
{ box-shadow: 0 0 10px 3px rgba(0,0,0,0.7); }

#hover, #hover img, #hover div, #hover span
{
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;	
}

.containerplain
{
	width: 100%;
	margin: 0 0 25px;
	overflow: hidden;
	border-radius: 2px;
	position: relative;
	display: inline-block;
}

.footer
{
	margin: 0;
	padding: 0;
	width: 100%;
	height:50px;
	font-size: 0.8rem;
	position: relative;
	text-align: center;
	background: #060606;
	overflow: hidden;
}
.footer div
{ margin: 18px 18px 0; display: inline-block; }
.footer p
{ margin: 0; }
.footer span
{ font-weight: bold; }
.footer img
{ margin: -3 2; }
.footer #left
{ float: left; text-align: left; min-width: 20%;}
.footer #right
{ float: right; text-align: right; min-width: 20%;}
.footer p, .footer a, .footer a:visited
{ color: #2D333A; }
.footer a:hover
{ color: #2676D5; }

.video
{
	width: 25%;
	margin: 4px;
	display: block;
	text-align: center;
	position: absolute;
	border: 2px solid #fff;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
.video video
{
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
}
.video:link
{
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
.video:hover
{ border: 2px solid #2676D5; }
.video #overlay
{
	margin: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	padding: 0 0 10px 0;
	text-shadow: 0 0 5px black;
}

.gametitle
{
	margin: 10px;
	font-size: 2rem;
	font-family: Darius;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}
.game
{
	margin: 0 0 0 25%;
	padding: 0  0 0 35px;
	display: inline-block;
}
.game p
{
	margin: 0;
	display: block;
	padding: 0 0 0 1rem;
}
.game a
{ font-weight: bold; }
.game td
{
	margin: 0;
	border: none;
	padding: 0 0.5rem;
}
.game h5
{
	margin: 0 0 0.5rem 0.3rem;
	border-bottom: 1px solid #fff;
	padding: 0.5rem 0 0.2rem 0.2rem;
}

.reficon
{
	margin: -25px 25px -25px -25px;
	overflow: hidden;
	width: 25vw;
	height: 25vw;
	float: left;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	background-position: top;
	background-repeat: no-repeat;
	background-image: url(images/jamie.gif);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.irbisgame
{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
	position: relative;
}
.irbisgame img
{
	padding: 0 25px 25px;
	width: 30vmin;
	width: 30vmax;'
	max-width: 80%;
	left:50%;
	transform: translateX(-50%);
	position: relative;
}
.gifs
{
	bottom: 0;
	position:absolute;
	height: 100%;
	width: inherit;
	max-height: 10vw;
	/*max-height: calc(12.5vw - 5rem - 25px);*/
}
.gifs div
{
	height: inherit;
	padding: 0;
	margin: 0 0 -30px;
	width: 100%;
	max-width: 32%;
	display: inline-block;
	position: relative;
	background-position: top;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}
.irbisgame p
{
	margin: 0;
	display: block;
	padding: 0;
}
.irbisgame a
{ font-weight: bold; }
.irbisgame td
{
	margin: 0;
	border: none;
	padding: 0 0.5rem;
}
.irbisgame h3, .irbisgame h4, .irbisgame h5
{
	margin: 0 -5px 0.5rem;
	border-bottom: 1px solid #fff;
	padding: 0.5rem 0 0.2rem 1.5rem;
}

.tiny
{ font-size: 0.7rem; }
.gamedownload
{
	right: 10px;
	margin: 10px;
	bottom: 10px;
	position: absolute;
	display: inline-block;

}
.button
{
	padding: 20px;
	font-weight: bold;
	background: white;
	border-radius: 2px;
	color: black !important;
	text-transform: uppercase;
}
.button:link
{
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
.button:hover
{ background: #2676D5; }

.centerY
{
	top: 50%;
	transform: translateY(-50%);
}

.centerX
{
	left: 50%;
	transform: translateX(-50%);
}

.center
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

H1
{
	margin: 0;
	font-size: 3rem;
	font-weight: bold;
}
H2
{
	margin: 0;
	font-size: 3rem;
	font-weight: normal;
}
H3
{
	margin: 0;
	font-size: 2rem;
	font-weight: bold;
}
H4
{
	margin: 0;
	font-size: 2rem;
	font-weight: normal;
}
H5
{
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
}
H6
{
	margin: 0;
	font-size: 1.5rem;
	font-weight: normal;
}

.resumelink
{
	font-size: .9rem;
	margin: 0;
	top: 0;
	right:0;
	position: fixed;
	overflow: hidden;
	width: 12.5em;
	height: 12.5em;
}
.resumelink div
{
	height: 2px;
	width: 200%;
	left: -50%;
	position: absolute;
	background-color: #1E1F25;
}
.resumelink div
{ background-color: #2D333A; }
.resumelink a
{
	top: 4.5em;
	right: -7.1em;
	position: fixed;
	padding: .75em 6.25em;
	background-color: #003D5C;
	white-space: nowrap;
	transform: rotate(45deg);
}
.resumelink a:hover
{
	color: #fff;
	background-color: #2676D5;
}



.resume
{
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	display: inline-block;
}
.resume .item
{
	width: 100%;
	height:100%;
	float: left;
	overflow: hidden;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
.resume .item div 
{
	width: 100%;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
.resume .item div#overlay
{
	bottom: 10vh;
	height: 10vh;
	padding: 0 0;
	max-width: 100%;
	overflow: hidden;
	margin: 0 0 -10vh;
	position: relative;
	background: #1E1F25;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	-o-transition: ease 0.2s;
	transition: ease 0.2s;
}
.resume .item:hover div#overlay
{
	color: #fff;
	bottom: 0;
	height: 0;
	margin: 0;
}
.resume .item p
{
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
}
.resume .item img
{ height: 100%; }
.resume .item div#image
{
	width: 100%;
	height:100%;
	bottom: 5vh;
	position: relative;
	-webkit-transition: ease 0.2s;
	-moz-transition: ease 0.2s;
	-o-transition: ease 0.2s;
	transition: ease 0.2s;
}
.resume .item:hover div#image
{
	margin: 0;
	bottom: 0;
}
.resume .item div#image img
{
	min-width: 100%;
	object-fit: cover;
	min-height:100%;
}

.colors, .colorbar
{
	padding: 0;
	width: 100%;
	position: relative;
	display: inline-block;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
.colors .item, .colorbar .item
{
	width: 16.6667%;
	width: calc(100%/6);
	float: left;
	text-align: center;
	display: inline-block;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
.colorbar .item
{ height: 40px; }
.colors .item p, .colorbar .item p
{
	bottom: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 2rem;
	max-height: 3.5rem;
	font-weight: bold;
	text-transform: uppercase;
	border-color: #2D333A;
	border-style: solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
input
{ display:none; }
input:checked ~ .colors .item p
{ bottom: 0; }
input:checked ~ .colors .item
{ padding-bottom: 0px; }

.colors .left p, .colorbar .left p
{ border-width: 0 1px 0 0; }
.colors .middle p, .colorbar .middle p
{ border-width: 0 1px 0; }
.colors .right p, .colorbar .right p
{ border-width: 0 0 0 1px; }

.colors .item div, .colorbar .item div
{
	padding: 0;
	height: 0;
	bottom: -40px;
	position: relative;
	background: #1E1F25; color: #2676D5;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
.colors .item div
{ top: 0; }
.colorbar .item:hover div
{
	height: 28px;
	bottom: 0;
	padding: 12px 0;
}
input:checked ~ .colors .item div
{
	height: 56px;
	padding: 12px 0;
	top: 0px;
}

/*controls whether or not colorbar class items still have hover effect when hex codes are visible*/
/*input:checked ~ .colorbar .item div
{
	padding: 0;
	height: 0;
	bottom: -40px;
}/**/

.colorbar #C060606
{ background: #060606; }

.colorbar #C151416
{ background: #151416; }

.colorbar #C1E1F25
{ background: #1E1F25; }

.colorbar #C2D333A
{ background: #2D333A; }

.colorbar #C2676d5
{ background: #2676d5; }

.colorbar #CFFF
{ background: #FFF; }

.icons
{
	text-align: center;
	display: inline-block;
}
.icons div
{
	width: 50%;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.favicons
{ float: left; }
.favicons img
{ margin: 10px; }
.logos
{ float: right; }
.logos img
{ width: 256px; margin: 10px; }

.fonts
{
	text-align: center;
	font-size: 1.5rem;
	width: 49%;
	width: calc(50% - 62.5px);
	float: left;
	display: inline-block;
}
.fonts .bera
{ font-family: Bera; }
.fonts .darius
{ font-family: Darius; letter-spacing: 0.1em; text-transform: uppercase; }

.guidelines
{
	text-align: center;
	font-size: 1.5rem;
	width: 49%;
	width: calc(50% - 62.5px);
	float: right;
	display: inline-block;
}

.specifications
{ text-align: center; }

.cardexample
{
	width: 49%;
	width: calc(50% - 12.5px);
	float: left;
	background: #151416;
	border-radius: 2px;
	overflow: hidden;
	margin: 0 0 25px;
	position: relative;
	display: inline-block;
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
}
.cardexample .null
{
	margin: 3px 5px;
	height: 0;
	position: relative;
}
.cardexample p
{ margin: 0 5px; }
.cardexample p.misctext
{ margin: 0 0 25px; padding: 0; }
.cardexample p#left
{ float: left; }
.cardexample p#right
{ float: right; }
.cardexample div
{ margin: 25px; background: #1E1F25; }

.art
{
	padding: 0;
	text-align: center;
	position: relative;
	display: inline-block;
}
.art #overlay
{
	margin: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	padding: 0 0 10px 0;
	text-shadow: 0 0 5px black;
}
.art img
{ width: 100%; }
.art img:hover
{ filter: brightness(50%); }
.art.design:hover img
{ filter: brightness(50%); }

.gallery
{
	line-height: 1rem;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	-o-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1rem;
	-moz-column-gap: 1rem;
	-o-column-gap: 1rem;
	column-gap: 1rem;  
}
.gallery div
{ margin: 1rem 0rem; }
.gallery img
{  }

@media screen and (max-height:62rem)
{
	.centertext
	{ font-size: 4rem; }
}
@media screen and (min-width:125rem)
{
	.gallery
	{
		-webkit-column-count: 4;
		-moz-column-count: 4;
		-o-column-count: 4;
		column-count: 4;
	}
}
@media screen and (max-width:93rem)
{
	.centertext
	{ font-size: 4rem; }
	.content
	{ padding: 25vh 5% 50px; }
	.video
	{ width: 30%; }
	.game
	{ margin: 0 0 0 30%; }
}
@media screen and (max-height:51rem)
{
	.centertext
	{ font-size: 3rem; }
}
@media screen and (max-width:75rem)
{
	.centertext
	{ font-size: 3rem; }
	.gallery
	{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		-o-column-count: 2;
		column-count: 2;
	}
}
@media screen and (max-width:62rem)
{
	.content
	{ padding: 25vh 1vw 50px; }
	.gamedownload
	{ font-size: 1.5rem; }
	.container
	{ margin: 0 0 25px; }
	.video
	{
		margin: 0;
		width: 100%;
		position: relative;
		display: inline-block;
	}
	.game
	{
		padding: 0;
		width: 100%;
		margin: 10px 0 0;
		position: relative;
		display: inline-block;
	}
	.cf
	{ background-image: url(images/cf2.png); }
	.donatebutton
	{ font-size: 3rem; }
	a.donatebutton
	{ margin: 0.5em 0; }
	.centerlogo div
	{ display: none; }
}
@media screen and (max-height:35rem)
{
	.centertext
	{ font-size: 2rem; }
}
@media screen and (max-width:53rem)
{
	.centertext
	{ font-size: 2rem; }
}

.shadowtext
{
	text-shadow:
		1px 1px 0 #060606,
		-1px 1px 0 #060606,
		1px -1px 0 #060606,
		-1px -1px 0 #060606,
		0px 1px 0 #060606,
		0px -1px 0 #060606,
		-1px 0px 0 #060606,
		1px 0px 0 #060606,
		2px 2px 0 #060606,
		-2px 2px 0 #060606,
		2px -2px 0 #060606,
		-2px -2px 0 #060606,
		0px 2px 0 #060606,
		0px -2px 0 #060606,
		-2px 0px 0 #060606,
		2px 0px 0 #060606,
		1px 2px 0 #060606,
		-1px 2px 0 #060606,
		1px -2px 0 #060606,
		-1px -2px 0 #060606,
		2px 1px 0 #060606,
		-2px 1px 0 #060606,
		2px -1px 0 #060606,
		-2px -1px 0 #060606;
}
